<!doctype html>

<head>
    <title>{{titulo}}</title>
    <meta charset="utf-8">
</head>

<div class="capaBase">

    <div>
        <img src="../images/stethoscope.jpg" alt="stethoscope" class="centrarImagen" />
    </div>

    <h1>ST&amp;B Informatic Services</h1>

    <div class="capaBorde">
        <p>
            Somos una empresa especializada en la prestación global de servicios informáticos, abarcando desde el mantenimiento de su red             informática hasta el análisis y desarrollo de cada uno de los servicios que cualquier empresa, profesional o particular pueda             necesitar.
        </p>
    </div>

    <br/>

    <div class="capaBorde">
        <p>Le orefecemos capacidad, rapidez, eficacia y un servicio personalizado, que le resuelva los problemas que le puedan surgir en el día a día, manteniendo sus ordenadores actualizados y en correcto funcionamiento, para que usted sólo tenga que preocuparse de dedicarse a sus clientes y a su negocio, evitando la pérdida de horas de trabajo y preocupaciones debidas a problemas informáticos.
        </p>
    </div>

    <br/>

    <div class="capaBorde">
        <p>La profesionalidad de nuestro equipo y la calidad de nuestro trabajo son nuestra mejor garantía.</p>
    </div>

</div>
